doctype html
html(lang="en")
  head
    title MultiSSH v#{pkg.version}
    script(src="lib/ui.js")
    script(src="http://localhost:35729/livereload.js")
    link(rel="stylesheet", type="text/css", href="style/app.css")
  body
    h1 MultiSSH v#{pkg.version}
    #container.col
      p.
        Coming soon!
